*.vcd
*.vvp
*.log
*.jou
*.str
*.tmp
*.bak
*.zip
*.rar
*.exe
*.user
**/impl/
**/temp/
**/work/
**/work1/
*.asm64
*.rw64
*_primary.dat
*_primary.dbs
*_primary.vhd
*.rao
*.ipc
*.mod
*.mpf
*.mti
*.wlf
transcript
**/gowin_prom/*_tmp.v
