//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.08
//Part Number: GW1N-UV9EQ144C6/I5
//Device: GW1N-9C
//Created Time: Fri 11 11 16:40:30 2022

//IO_LOC "lcd_bl" 82;
//IO_PORT "lcd_bl" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "bit_o" 86;
IO_PORT "bit_o" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "lcd_rs" 84;
IO_PORT "lcd_rs" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "lcd_cs" 83;
IO_PORT "lcd_cs" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "lcd_clk" 87;
IO_PORT "lcd_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "lcd_rst" 85;
IO_PORT "lcd_rst" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "rst" 56;
IO_PORT "rst" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "clk" 11;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;